# .ebextensions/01_django_migrate.config
container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "stopshot_backend.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: stopshot_backend.wsgi:application
